 html {
  font-family: 'Source Code Pro', monospace;
  font-size: 16px;
  font-weight: 100;
  max-width: 1580px;
  background-image: linear-gradient( rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0.5) ), url("../imgs/03.jpg");
  background-repeat: repeat-x;
  background-size: cover;
  background-attachment: fixed;
  color: white;
  margin: auto;
  min-width: 800px;

}

.container {
  display: grid;
}

.right-half {
  grid-column: 2;
  padding-left: 30px;
  /*background: rgba(121, 121, 121, 0.1);*/
  /*background: rgba(203, 203, 203, 0.1);*/
  /*background: rgba(72, 118, 90, 0.45);*/
  background: rgba(126, 126, 126, 0.3);
  color: #CDF4ED;
}

.left-nav {
  background: rgba(0, 0, 0, 0.5);
  max-width: 400px;
  text-align: center;
  padding-bottom: 30px;
  /*position: fixed;*/
  text-transform: uppercase;
  padding-left: 20px;
  padding-right: 20px;
  grid-column: 1;
  margin-top: 20px;

}

.pulse {
  color: white;
  font-size: 50px;
  margin-left: -20px;
}

p {

}

.profile {
  width: 200px;
  border-radius: 300px;
  margin-top: 40px;
}

li {
  display:inline-grid;

}

nav a {
  padding-bottom: 20px;
  padding-top: 20px;
  text-decoration: none;
  margin-left: -20px;
  font-style: oblique;
  color: #35427f;
}

a:hover {
  color: red;
}


.icons i {
  font-size: 30px;
  margin-left: 30px;
}

.social a {
  font-size: 30px;
  margin-left: 20px;
  color: white;
}

.social a:hover {
  font-size: 30px;
  margin-left: 20px;
  color: #1C9C62;
}

footer {
  color: black;
  width: auto;
  background-color: white;
  text-align: center;
}

footer i {
  font-size: 16px;

}

footer a {
  color: green;
  text-decoration: none;
}

#white {
  background-color: white;
  padding: 10px;
  margin: 0;
}