<% include partials/header %>

  <div id="white"></div>
  <div class="container">
    <header>
      <section class="left-nav">

        <div class="icons">
          <i class="ion-social-apple"></i>
          <i class="ion-social-javascript"></i>
          <i class="ion-social-python"></i>
          <i class="ion-social-html5"></i>
          <i class="ion-social-css3"></i>
        </div>

        <img class="profile" src="imgs/emerson3.jpg" alt="">
        <p>Emerson Lopes - web developer</p>
        <nav>
          <ul>
            <li>
              <i class="ion-ios-pulse pulse "></i>
              <a href="/blog">Blog</a>
              <a href="/projects">Projects</a>
              <a href="https://medium.com/@emersondeivson13" target="_blank">medium</a>
              <a href="https://www.youtube.com/c/EmersonDeivson13" target="_blank">YouTube</a>
            </li>
          </ul>
        </nav>

        <div class="social">
          <a href="http://www.github.com/emersonlbr" target="_blank" ><i class="ion-social-github"></i></a>
          <a href="http://www.twitter.com/emersonl_br" target="_blank"><i class="ion-social-twitter"></i></a>
          <a href="https://api.whatsapp.com/send?phone=5538998514886" target="_blank"><i class="ion-social-whatsapp"></i></a>
          <a href="http://www.linkedin.com/in/emersonlbr/" target="_blank"><i class="ion-social-linkedin"></i></a>
          <a href="http://www.facebook.com/emersonlbr" target="_blank"><i class="ion-social-facebook"></i></a>

        </div>

      </section>
      </header>

      <section class="right-half" >
        <section class="wrap">
          <h1>About me</h1>
          <p>I am a student enrolled in Informational Systems at UNIMONTES, the State University of Montes Claros, based in Minas Gerais, Brazil. Currently, I am proficient in working with languages such as HTML, CSS, Javascript and Python however I am always keen to expand my skill set.</p>
          <p>I am fluent in English, French and my native Language, Portuguese. As well, I have a basic understanding of German and Spanish. Languages is a subject in which I am passionate about and wish to futher pursue.</p>
        </section>
      
        
      </section>

  </div>

<% include partials/footer %>