<% include partials/header %>

  <div id="white"></div>
  <div class="container">
    <header>
      <section class="left-nav">

        <div class="icons">
          <i class="ion-social-apple"></i>
          <i class="ion-social-javascript"></i>
          <i class="ion-social-python"></i>
          <i class="ion-social-html5"></i>
          <i class="ion-social-css3"></i>
        </div>

        <img class="profile" src="imgs/emerson3.jpg" alt="">
        <p>Emerson Lopes - web developer</p>
        <nav>
          <ul>
            <li>
              <i class="ion-ios-pulse pulse "></i>
              <a href="/blog">Blog</a>
              <a href="/">Home</a>
              <a href="https://medium.com/@emersondeivson13" target="_blank">medium</a>
              <a href="https://www.youtube.com/c/EmersonDeivson13" target="_blank">YouTube</a>
            </li>
          </ul>
        </nav>

        <div class="social">
          <a href="http://www.github.com/emersonlbr" target="_blank" ><i class="ion-social-github"></i></a>
          <a href="http://www.twitter.com/emersonl_br" target="_blank"><i class="ion-social-twitter"></i></a>
          <a href="https://api.whatsapp.com/send?phone=5538998514886" target="_blank"><i class="ion-social-whatsapp"></i></a>
          <a href="http://www.linkedin.com/in/emersonlbr/" target="_blank"><i class="ion-social-linkedin"></i></a>
          <a href="http://www.facebook.com/emersonlbr" target="_blank"><i class="ion-social-facebook"></i></a>

        </div>

      </section>
      </header>

      <section class="project">
        
        <section class="projects">
          <a href="https://emersonlbr.github.io/JavacriptCourse/budget-app/index.html" target="_blank"><img src="imgs/budgety.png" alt="Budgety App" type="Budgety"  class="project-img"></a>
        
            <a href="https://emersonlbr.github.io/todolist/" target="_blank"><img src="imgs/todo.png" alt="TodoList" type=""  class="project-img"></a>
            
            <a href="https://emersonlbr.github.io/first-porfolio/ColorGame/colorgame.html" target="_blank"><img src="imgs/color-game.png" alt="Color Game" type=""  class="project-img"></a>
            
            <a href="http://restfull-blog-app.herokuapp.com/" target="_blank"><img src="imgs/resfullblog.png" alt="restfullblog" type=""  class="project-img"></a>
        
      </section>
      
      <section class="projects">
        <a href="https://emersonlbr.github.io/Free-Code-Camp-Projects/quote-machine/index.html" target="_blank"><img src="imgs/quote-machine.png" alt="Quote Machine" type=""  class="project-img"></a>
        
        <a href="https://yelpcamp-br.herokuapp.com/" target="_blank"><img src="imgs/yelpcamp.png" alt="yelpcamp" type=""  class="project-img"></a>
        
        <a href="https://emersonlbr.github.io/Free-Code-Camp-Projects/" target="_blank"><img src="imgs/tribute.png" alt="tribute page" type=""  class="project-img"></a>
        
        <a href="https://emersonlbr.github.io/portfolio/" target="_blank"><img src="imgs/portfolio-1.png" alt="Portfolio" type=""  class="project-img"></a>
      </section>
      
      <section class="projects">
        <a href="https://emersonlbr.github.io/omnifood/" target="_blank"><img src="imgs/omnifood.png" alt="Omnifood" type=""  class="project-img"></a>
      </section>
      </section>
      
    </section>

  </div>

<% include partials/footer %>